/* KANBOARD PLUGIN - CSS FILE */

:root {
    --pp-blue: #007AC9;
    --pp-blue-alt: #00ADFF;
    --pp-red: #B71234;
    --pp-red-alt: #DA004C;
    --pp-red-alt-2: #AE003D;
    --pp-black: #000000;
    --pp-light-grey: #8F8F8F;
    --pp-grey: #4D4D4D;
    --pp-white: #FFFFFF;
    --pp-green: #2EA02E;
    --pp-green-dark: #055D20;
    --pp-orange: #FF6500;
    --blue-icon-dark: #034CA6;
    --button-blue-gradient: linear-gradient(to bottom, #7892c2 80%, #476e9e 100%);
    --blue-border-gradient-match: #476E9E;
    --button-background-delete: #D05C84;
    --page-margin-url-cleaner: 0px 10px 10px 10px;
    --border-radius-url-cleaner: 3px;
    --panel-background-url-cleaner: #EEEEEE;
    --transition-url-cleaner: ease-in-out all .3s;
}

.pp-blue { color: var(--pp-blue); fill: var(--pp-blue); }
.pp-blue-alt { color: var(--pp-blue-alt); fill: var(--pp-blue-alt); }
.pp-red { color: var(--pp-red); fill: var(--pp-red); }
.pp-red-alt { color: var(--pp-red-alt); fill: var(--pp-red-alt); }
.pp-red-alt-2 { color: var(--pp-red-alt-2); fill: var(--pp-red-alt-2); }
.pp-black { color: var(--pp-black); fill: var(--pp-black); }
.pp-light-grey { color: var(--pp-light-grey); fill: var(--pp-light-grey); }
.pp-grey { color: var(--pp-grey); fill: var(--pp-grey); }
.pp-white { color: var(--pp-white); fill: var(--pp-white); }
.pp-green { color: var(--pp-green); fill: var(--pp-green); }
.pp-dark-green { color: var(--pp-green-dark); fill: var(--pp-green-dark); }
.pp-orange { color: var(--pp-orange); fill: var(--pp-orange); }

/*a, details, summary, i, img, table, tr, svg, figure, button {
    transition: var(--transition-url-cleaner);
}*/

/*a:hover { color: var(--pp-red-alt-2) !important; }*/

.display-none, .d-none { display: none !important; }

.font-weight-bold { font-weight: 600; }

.text-center { text-align: center; }

.relative { position: relative; }

.url-cleaner-page-margin {
    margin: var(--page-margin-url-cleaner);
}

.url-cleaner-page-header h2 {
    margin-top: 10px;
    font-weight: 600;
}

#URLCleanerPage .section-intro a {
    font-weight: 600;
    margin-left: 3px;
    color: var(--pp-orange);
}

.options-block {
    border-radius: var(--border-radius-url-cleaner);
}

.options-section {
    display: inline-block;
    border-radius: var(--border-radius-url-cleaner);
}

.options-section legend {
    font-size: 1.1em;
}

.url-radio-options, .url-detection {
    height: 31px;
    display: inline-block;
    vertical-align: middle;
}

.url-detection i {
    margin-top: 10px;
}

.url-radio-options label {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
}

.url-radio-options .form-actions {
    display: inline-block;
    padding-top: 0;
}

.url-radio-options .form-actions .btn {
    font-size: 1em;
    background-color: var(--pp-green-dark);
    color: var(--pp-white);
    border-radius: var(--border-radius-url-cleaner);
    border: 1px solid var(--pp-green-dark);
}

.url-radio-options .form-actions .btn:hover, .url-radio-options .form-actions .btn:focus {
    background-color: rgba(5, 93, 32, .6);
}
.route-count {
    vertical-align: super;
    border-radius: var(--border-radius-url-cleaner);
    border: 1px solid var(--blue-icon-dark);
    font-size: .7em;
    padding: 0 4px;
    margin-left: 3px;
    font-weight: 700;
    background-color: var(--pp-blue);
    color: var(--pp-white);
}
